<div class="container">
  <mat-card class="card">
    <app-loading></app-loading>
    <mat-tab-group class="tab-group" [selectedIndex]="selectedIndex">
      <mat-tab label="Cadastre-se">
        <form (ngSubmit)="signupForm()" [formGroup]="formSignUp">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input
              matInput
              placeholder="Insira seu nome"
              appCheckEmail
              formControlName="firstName"
            />
            <mat-icon matSuffix color="primary">person</mat-icon>
            <mat-error
              *ngIf="formSignUp.get('firstName')?.hasError('required')"
            >
              Nome é obrigatório
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Sobrenome</mat-label>
            <input
              matInput
              placeholder="Insira seu sobrenome"
              appCheckEmail
              formControlName="lastName"
            />
            <mat-icon matSuffix color="primary">person</mat-icon>
            <mat-error *ngIf="formSignUp.get('lastName')?.hasError('required')">
              Sobrenome é obrigatório
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input
              matInput
              placeholder="exemplo@exemplo.com"
              appCheckEmail
              formControlName="email"
            />
            <mat-icon matSuffix color="primary">email</mat-icon>
            <mat-error *ngIf="formSignUp.get('email')?.hasError('required')">
              E-mail é obrigatório
            </mat-error>
            <mat-error
              *ngIf="formSignUp.get('email')?.hasError('pattern' || 'email')"
            >
              E-mail inválido
            </mat-error>
            <mat-error
              *ngIf="formSignUp.get('email')?.hasError('appCheckEmail')"
            >
              E-mail já cadastrado.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Cadastre uma senha</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="Insira uma senha"
              maxlength="35"
            />
            <mat-icon matSuffix color="primary">keygen</mat-icon>
            <mat-error *ngIf="formSignUp.get('password')?.hasError('required')">
              Senha é obrigatória
            </mat-error>
            <mat-error
              *ngIf="formSignUp.get('password')?.hasError('minlength')"
            >
              Mínimo de 5 caracteres
            </mat-error>
          </mat-form-field>
          <div class="button-submit">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="formSignUp.errors"
            >
              Cadastrar
            </button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Login">
        <form (ngSubmit)="signinForm()" [formGroup]="formSignIn">
          <mat-form-field appearance="outline">
            <mat-label>Insira seu e-mail cadastrado</mat-label>
            <input
              matInput
              placeholder="exemplo@exemplo.com"
              formControlName="email"
            />
            <mat-icon matSuffix color="primary">email</mat-icon>
            <mat-error *ngIf="formSignIn.get('email')?.hasError('required')">
              E-mail é obrigatório
            </mat-error>
            <mat-error
              *ngIf="formSignIn.get('email')?.hasError('pattern' || 'email')"
            >
              E-mail inválido
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Insira sua senha</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="Insira sua senha"
              maxlength="35"
            />
            <mat-icon matSuffix color="primary">keygen</mat-icon>
            <mat-error *ngIf="formSignIn.get('password')?.hasError('required')">
              Senha é obrigatória
            </mat-error>
          </mat-form-field>
          <div class="button-submit">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="formSignIn.errors"
            >
              Login
            </button>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
